<a href="https://colab.research.google.com/github/sigvehaug/CAS-Applied-Data-Science/blob/master/Module-1/M1_D1_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2023-08-23, S. Haug, University of Bern.

Prerequisite for this notebook is some basic Python experience.

Please also look at the first batch of [these slides](https://docs.google.com/presentation/d/1BrlQQGDnEpr8lBiEd9uO-Kw2-WOInAEP-cv-xdUwB4Y/edit?usp=sharing) before doing this notebook. They offer an introduction to data.

ChatGPT is able to write most of the code needed for this notebook. Please use it if you like !

# 1. Data Management

Estimated study time is about 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides via link above)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python
- Know about data volumes, metadata and quality
- Able to plot histograms and scatter plots in Python (tomorrow)

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter notebooks / colab
     2. Import datasets into a Python dataframe
     3. Indexing on a dataframe
     4. Sorting
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

In [4]:
for i in range(10):
    print(f'I am count{i}ing', i)

I am count0ing 0
I am count1ing 1
I am count2ing 2
I am count3ing 3
I am count4ing 4
I am count5ing 5
I am count6ing 6
I am count7ing 7
I am count8ing 8
I am count9ing 9

### 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data may be colleccted by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. as a comma separated value (csv) file to a hard disk. This part of the data management is normally taken care of by engineers.

Data may also be collected from all sorts of databases, so data already collected somehow. Time series of financial data, customers, passengers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills.

Analysing data with statisitical and machine learning tools, requires that the data is colleceted, cleaned and prepared for the tools. This is very often a very large part of a data analytics project and a prerequisite. It may involve removing bad data, filter out redundant and noisy data, unify the formats and types, transform the data etc.
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.  

**In this notebook we only look at a few examples on how to do datamanagement with dataframes. Pandas are extremly powerful and we cannot show everything in a couple of hours. You will become more and more experienced when you work on your module projects. Probably whatever you want to do with your dataframe, there is a way to do it. If not, it probably doesn't make much sense what wou want to do.**

Any questions?

### 1. Getting used to Jupyter computational notebooks and Colab

With Jupyter you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, i.e Python, R, Julia, bash etc can be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster.

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option/Alt Enter = Run cell and Insert new cell below

### Exercise 1 (10 min)
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs in the menu of your jupyter (lab) notebook

In [ ]:
# Write some more Python code here

### 2. Import a dataset into a Pandas DataFrame

Pandas is a Python Module for data analysis and manipulation and management. It has the data structure DataFrame which is quite powerful. Features

- DataFrame object for data management with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code parts written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading EXCEL, SQL databases, HTML tables, clipboard, SAS, STATA etc.

In [5]:
# Upload a local data file to google colab
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google.colab'

In [5]:
#get from internet/local memory
import pandas as pd
#use path or web-url to access file
# url = "https://raw.githubusercontent.com/sigvehaug/CAS-Applied-Data-Science/master/Module-1/iris.csv"
url = "C:/Users/tim94/OneDrive/Dokumente/Universität Bern/Data Acquisition and Management/data/iris.csv"

#abbreviation df for dataframe
df = pd.read_csv(url, names=['slength','swidth','plength','pwidth','species'])

In [34]:
df

     slength  swidth  plength  pwidth         species
0        5.1     3.5      1.4     0.2     Iris-setosa
1        4.9     3.0      1.4     0.2     Iris-setosa
2        4.7     3.2      1.3     0.2     Iris-setosa
3        4.6     3.1      1.5     0.2     Iris-setosa
4        5.0     3.6      1.4     0.2     Iris-setosa
..       ...     ...      ...     ...             ...
145      6.7     3.0      5.2     2.3  Iris-virginica
146      6.3     2.5      5.0     1.9  Iris-virginica
147      6.5     3.0      5.2     2.0  Iris-virginica
148      6.2     3.4      5.4     2.3  Iris-virginica
149      5.9     3.0      5.1     1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
# import the python module pandas with the abbreviation pd
pd.set_option('display.max_rows', None)
# Read the data in the iris.csv file into a dataframe
# If you work on colab, you need the data file on colab of course

The dataframe method shows 50 rows per default. We can change this as we like:

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   slength  150 non-null    float64
 1   swidth   150 non-null    float64
 2   plength  150 non-null    float64
 3   pwidth   150 non-null    float64
 4   species  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df[0:20]

    slength  swidth  plength  pwidth      species
0       5.1     3.5      1.4     0.2  Iris-setosa
1       4.9     3.0      1.4     0.2  Iris-setosa
2       4.7     3.2      1.3     0.2  Iris-setosa
3       4.6     3.1      1.5     0.2  Iris-setosa
4       5.0     3.6      1.4     0.2  Iris-setosa
5       5.4     3.9      1.7     0.4  Iris-setosa
6       4.6     3.4      1.4     0.3  Iris-setosa
7       5.0     3.4      1.5     0.2  Iris-setosa
8       4.4     2.9      1.4     0.2  Iris-setosa
9       4.9     3.1      1.5     0.1  Iris-setosa
10      5.4     3.7      1.5     0.2  Iris-setosa
11      4.8     3.4      1.6     0.2  Iris-setosa
12      4.8     3.0      1.4     0.1  Iris-setosa
13      4.3     3.0      1.1     0.1  Iris-setosa
14      5.8     4.0      1.2     0.2  Iris-setosa
15      5.7     4.4      1.5     0.4  Iris-setosa
16      5.4     3.9      1.3     0.4  Iris-setosa
17      5.1     3.5      1.4     0.3  Iris-setosa
18      5.7     3.8      1.7     0.3  Iris-setosa
19      5.1     3.8      1.5     0.3  Iris-setosa

In [12]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [14]:
df.tail(10)

     5.1  3.5  1.4  0.2     Iris-setosa
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

Find out on wikipedia what this Iris data is about.

### Hint

There are some ways to get help about modules and methods in Jupyter:

In [12]:
df.cumprod

<bound method NDFrame._add_numeric_operations.<locals>.cumprod of      slength  swidth  plength  pwidth          species
0        5.1     3.5      1.4     0.2      Iris-setosa
1        4.9     3.0      1.4     0.2      Iris-setosa
2        4.7     3.2      1.3     0.2      Iris-setosa
3        4.6     3.1      1.5     0.2      Iris-setosa
4        5.0     3.6      1.4     0.2      Iris-setosa
5        5.4     3.9      1.7     0.4      Iris-setosa
6        4.6     3.4      1.4     0.3      Iris-setosa
7        5.0     3.4      1.5     0.2      Iris-setosa
8        4.4     2.9      1.4     0.2      Iris-setosa
9        4.9     3.1      1.5     0.1      Iris-setosa
10       5.4     3.7      1.5     0.2      Iris-setosa
11       4.8     3.4      1.6     0.2      Iris-setosa
12       4.8     3.0      1.4     0.1      Iris-setosa
13       4.3     3.0      1.1     0.1      Iris-setosa
14       5.8     4.0      1.2     0.2      Iris-setosa
15       5.7     4.4      1.5     0.4      Iris-setosa
16       5.4     3.9      1.3     0.4      Iris-setosa
17       5.1     3.5      1.4     0.3      Iris-setosa
18       5.7     3.8      1.7     0.3      Iris-setosa
19       5.1     3.8      1.5     0.3      Iris-setosa
20       5.4     3.4      1.7     0.2      Iris-setosa
21       5.1     3.7      1.5     0.4      Iris-setosa
22       4.6     3.6      1.0     0.2      Iris-setosa
23       5.1     3.3      1.7     0.5      Iris-setosa
24       4.8     3.4      1.9     0.2      Iris-setosa
25       5.0     3.0      1.6     0.2      Iris-setosa
26       5.0     3.4      1.6     0.4      Iris-setosa
27       5.2     3.5      1.5     0.2      Iris-setosa
28       5.2     3.4      1.4     0.2      Iris-setosa
29       4.7     3.2      1.6     0.2      Iris-setosa
30       4.8     3.1      1.6     0.2      Iris-setosa
31       5.4     3.4      1.5     0.4      Iris-setosa
32       5.2     4.1      1.5     0.1      Iris-setosa
33       5.5     4.2      1.4     0.2      Iris-setosa
34       4.9     3.1      1.5     0.1      Iris-setosa
35       5.0     3.2      1.2     0.2      Iris-setosa
36       5.5     3.5      1.3     0.2      Iris-setosa
37       4.9     3.1      1.5     0.1      Iris-setosa
38       4.4     3.0      1.3     0.2      Iris-setosa
39       5.1     3.4      1.5     0.2      Iris-setosa
40       5.0     3.5      1.3     0.3      Iris-setosa
41       4.5     2.3      1.3     0.3      Iris-setosa
42       4.4     3.2      1.3     0.2      Iris-setosa
43       5.0     3.5      1.6     0.6      Iris-setosa
44       5.1     3.8      1.9     0.4      Iris-setosa
45       4.8     3.0      1.4     0.3      Iris-setosa
46       5.1     3.8      1.6     0.2      Iris-setosa
47       4.6     3.2      1.4     0.2      Iris-setosa
48       5.3     3.7      1.5     0.2      Iris-setosa
49       5.0     3.3      1.4     0.2      Iris-setosa
50       7.0     3.2      4.7     1.4  Iris-versicolor
51       6.4     3.2      4.5     1.5  Iris-versicolor
52       6.9     3.1      4.9     1.5  Iris-versicolor
53       5.5     2.3      4.0     1.3  Iris-versicolor
54       6.5     2.8      4.6     1.5  Iris-versicolor
55       5.7     2.8      4.5     1.3  Iris-versicolor
56       6.3     3.3      4.7     1.6  Iris-versicolor
57       4.9     2.4      3.3     1.0  Iris-versicolor
58       6.6     2.9      4.6     1.3  Iris-versicolor
59       5.2     2.7      3.9     1.4  Iris-versicolor
60       5.0     2.0      3.5     1.0  Iris-versicolor
61       5.9     3.0      4.2     1.5  Iris-versicolor
62       6.0     2.2      4.0     1.0  Iris-versicolor
63       6.1     2.9      4.7     1.4  Iris-versicolor
64       5.6     2.9      3.6     1.3  Iris-versicolor
65       6.7     3.1      4.4     1.4  Iris-versicolor
66       5.6     3.0      4.5     1.5  Iris-versicolor
67       5.8     2.7      4.1     1.0  Iris-versicolor
68       6.2     2.2      4.5     1.5  Iris-versicolor
69       5.6     2.5      3.9     1.1  Iris-versicolor
70       5.9     3.2      4.8     1.8  Iris-versicolor
71       6.1     2.8      4.0     1.3  Iris-versicolor
72       6.3     2.5      4.9     1.5  Iris-versicolor
73       6.1     2.8      4.7     1.2  Iris-versicolor
74       6.4     2.9      4.3     1.3  Iris-versicolor
75       6.6     3.0      4.4     1.4  Iris-versicolor
76       6.8     2.8      4.8     1.4  Iris-versicolor
77       6.7     3.0      5.0     1.7  Iris-versicolor
78       6.0     2.9      4.5     1.5  Iris-versicolor
79       5.7     2.6      3.5     1.0  Iris-versicolor
80       5.5     2.4      3.8     1.1  Iris-versicolor
81       5.5     2.4      3.7     1.0  Iris-versicolor
82       5.8     2.7      3.9     1.2  Iris-versicolor
83       6.0     2.7      5.1     1.6  Iris-versicolor
84       5.4     3.0      4.5     1.5  Iris-versicolor
85       6.0     3.4      4.5     1.6  Iris-versicolor
86       6.7     3.1      4.7     1.5  Iris-versicolor
87       6.3     2.3      4.4     1.3  Iris-versicolor
88       5.6     3.0      4.1     1.3  Iris-versicolor
89       5.5     2.5      4.0     1.3  Iris-versicolor
90       5.5     2.6      4.4     1.2  Iris-versicolor
91       6.1     3.0      4.6     1.4  Iris-versicolor
92       5.8     2.6      4.0     1.2  Iris-versicolor
93       5.0     2.3      3.3     1.0  Iris-versicolor
94       5.6     2.7      4.2     1.3  Iris-versicolor
95       5.7     3.0      4.2     1.2  Iris-versicolor
96       5.7     2.9      4.2     1.3  Iris-versicolor
97       6.2     2.9      4.3     1.3  Iris-versicolor
98       5.1     2.5      3.0     1.1  Iris-versicolor
99       5.7     2.8      4.1     1.3  Iris-versicolor
100      6.3     3.3      6.0     2.5   Iris-virginica
101      5.8     2.7      5.1     1.9   Iris-virginica
102      7.1     3.0      5.9     2.1   Iris-virginica
103      6.3     2.9      5.6     1.8   Iris-virginica
104      6.5     3.0      5.8     2.2   Iris-virginica
105      7.6     3.0      6.6     2.1   Iris-virginica
106      4.9     2.5      4.5     1.7   Iris-virginica
107      7.3     2.9      6.3     1.8   Iris-virginica
108      6.7     2.5      5.8     1.8   Iris-virginica
109      7.2     3.6      6.1     2.5   Iris-virginica
110      6.5     3.2      5.1     2.0   Iris-virginica
111      6.4     2.7      5.3     1.9   Iris-virginica
112      6.8     3.0      5.5     2.1   Iris-virginica
113      5.7     2.5      5.0     2.0   Iris-virginica
114      5.8     2.8      5.1     2.4   Iris-virginica
115      6.4     3.2      5.3     2.3   Iris-virginica
116      6.5     3.0      5.5     1.8   Iris-virginica
117      7.7     3.8      6.7     2.2   Iris-virginica
118      7.7     2.6      6.9     2.3   Iris-virginica
119      6.0     2.2      5.0     1.5   Iris-virginica
120      6.9     3.2      5.7     2.3   Iris-virginica
121      5.6     2.8      4.9     2.0   Iris-virginica
122      7.7     2.8      6.7     2.0   Iris-virginica
123      6.3     2.7      4.9     1.8   Iris-virginica
124      6.7     3.3      5.7     2.1   Iris-virginica
125      7.2     3.2      6.0     1.8   Iris-virginica
126      6.2     2.8      4.8     1.8   Iris-virginica
127      6.1     3.0      4.9     1.8   Iris-virginica
128      6.4     2.8      5.6     2.1   Iris-virginica
129      7.2     3.0      5.8     1.6   Iris-virginica
130      7.4     2.8      6.1     1.9   Iris-virginica
131      7.9     3.8      6.4     2.0   Iris-virginica
132      6.4     2.8      5.6     2.2   Iris-virginica
133      6.3     2.8      5.1     1.5   Iris-virginica
134      6.1     2.6      5.6     1.4   Iris-virginica
135      7.7     3.0      6.1     2.3   Iris-virginica
136      6.3     3.4      5.6     2.4   Iris-virginica
137      6.4     3.1      5.5     1.8   Iris-virginica
138      6.0     3.0      4.8     1.8   Iris-virginica
139      6.9     3.1      5.4     2.1   Iris-virginica
140      6.7     3.1      5.6     2.4   Iris-virginica
141      6.9     3.1      5.1     2.3   Iris-virginica
142      5.8     2.7      5.1     1.9   Iris-virginica
143      6.8     3.2      5.9     2.3   Iris-virginica
144      6.7     3.3      5.7     2.5   Iris-virginica
145      6.7     3.0      5.2     2.3   Iris-virginica
146      6.3     2.5      5.0     1.9   Iris-virginica
147      6.5     3.0      5.2     2.0   Iris-virginica
148      6.2     3.4      5.4     2.3   Iris-virginica
149      5.9     3.0      5.1     1.8   Iris-virginica>

Get help about this object, if there is any:

And, what you will probably use the most, the online package information and examples by googling or ChatGPT.

### Exercise 2 (10 min)

Read the Swiss BAG Corona data on deaths into a dataframe and look at it. The URL is
https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv

There are also json files on that server. If you want to use them instead, consult https://pandas.pydata.org/docs/reference/io.html in order to find out how to read a json file into a pandas dataframe.

In [27]:
# Write your code here
pd.set_option('display.max_rows',20)
#url = 'https://www.covid19.admin.ch/api/data/20210823-4c27ic5b/sources/COVID19VaccPersons_v2.json'
url = 'C:/Users/tim94/OneDrive/Dokumente/Universität Bern/Data Acquisition and Management/COVID19Death_geoRegion.csv'

df_c = pd.read_csv(url)
df_c.tail()
#df['entries'].sum()

,geoRegion,datum,entries,sumTotal,timeframe_14d,timeframe_all,offset_last7d,sumTotal_last7d,offset_last14d,sumTotal_last14d,...,inzsum14d,sumdelta7d,inzdelta7d,type,type_variant,version,datum_unit,entries_letzter_stand,entries_neu_gemeldet,entries_diff_last
30242,ZH,2022-12-28,0,1876,False,True,1884,0,1880,0,...,0.26,0.0,0.00,COVID19Death,NaN,2023-01-24_06-03-16,day,0,0,2
30243,ZH,2022-12-29,0,1876,False,True,1884,0,1880,0,...,0.19,-1.0,-0.06,COVID19Death,NaN,2023-01-24_06-03-16,day,0,0,2
30244,ZH,2022-12-30,1,1877,False,True,1884,0,1880,0,...,0.26,1.0,0.06,COVID19Death,NaN,2023-01-24_06-03-16,day,1,0,2
30245,ZH,2022-12-31,0,1877,False,True,1884,0,1880,0,...,0.26,-1.0,-0.06,COVID19Death,NaN,2023-01-24_06-03-16,day,0,0,2
30246,ZH,2023-01-01,0,1877,False,True,1884,0,1880,0,...,0.26,0.0,0.00,COVID19Death,NaN,2023-01-24_06-03-16,day,0,0,2

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### 3. Indexing on a DataFrame

By methods (we are back to our clean and simple Iris dataset):

In [47]:
# access single cell by integer numbers (row 149, column 0 / first column), faster that loc and iloc
df.iat[149,0]
#access rows 0 to 10 every second element, columns 0 to 2
df.iloc[0:10:2,0:2]
#df.head()

   slength  swidth
0      5.1     3.5
2      4.7     3.2
4      5.0     3.6
6      4.6     3.4
8      4.4     2.9

In [49]:
# Assign a new value
df[0,0]=1
df.head()

   slength  swidth  plength  pwidth      species  (0, 0)
0      5.1     3.5      1.4     0.2  Iris-setosa       1
1      4.9     3.0      1.4     0.2  Iris-setosa       1
2      4.7     3.2      1.3     0.2  Iris-setosa       1
3      4.6     3.1      1.5     0.2  Iris-setosa       1
4      5.0     3.6      1.4     0.2  Iris-setosa       1

Indexing a group/subset of the dataframe by loc (column names) or iloc (index)

**Important**
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

Indexing by column names...

Selecting (filtering) by column valuess_df = dataframe[dataframe['species']=='Iris-setosa']

In [58]:
#filter only Iris-setosa species
df_setosa_only = df[df['species']=='Iris-setosa']

In [ ]:
df_setosa_only

Vectorized dataframe manipulations...

In [ ]:
df_setosa_only['plength']/2
df_setosa_only
df_setosa_only['plength']*2

In [ ]:
df_setosa_only['plength'].mean()
df_setosa_only['plength'].median()

Grouping ...

In [76]:
gdf = df.groupby('species')
print(gdf.groups)
df_v = gdf.get_group('Iris-virginica')

{'Iris-setosa': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], 'Iris-versicolor': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], 'Iris-virginica': [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]}

### 4. Sorting on a DataFrame

...

In [78]:
#adf = pd.read_csv('iris.csv',names=['slength','swidth','plength','pwidth','species'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   slength  150 non-null    float64
 1   swidth   150 non-null    float64
 2   plength  150 non-null    float64
 3   pwidth   150 non-null    float64
 4   species  150 non-null    object
 5   (0, 0)   150 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [85]:
df.sort_values('plength')
#if multiple sort variables, use [] as python expects a list
df.sort_values(['plength','pwidth'])
df

     slength  swidth  plength  pwidth         species  (0, 0)
0        5.1     3.5      1.4     0.2     Iris-setosa       1
1        4.9     3.0      1.4     0.2     Iris-setosa       1
2        4.7     3.2      1.3     0.2     Iris-setosa       1
3        4.6     3.1      1.5     0.2     Iris-setosa       1
4        5.0     3.6      1.4     0.2     Iris-setosa       1
..       ...     ...      ...     ...             ...     ...
145      6.7     3.0      5.2     2.3  Iris-virginica       1
146      6.3     2.5      5.0     1.9  Iris-virginica       1
147      6.5     3.0      5.2     2.0  Iris-virginica       1
148      6.2     3.4      5.4     2.3  Iris-virginica       1
149      5.9     3.0      5.1     1.8  Iris-virginica       1

[150 rows x 6 columns]

You may measure the time needed for the execution, e.g. with the operating system command "time". System commands are executed with a %:

In [92]:
#use %time to see how long something takes on a subset of data to estimate total duration...
%time df.sort_values(['slength','pwidth'])

CPU times: total: 0 ns
Wall time: 2 ms

     slength  swidth  plength  pwidth         species  (0, 0)
13       4.3     3.0      1.1     0.1     Iris-setosa       1
8        4.4     2.9      1.4     0.2     Iris-setosa       1
38       4.4     3.0      1.3     0.2     Iris-setosa       1
42       4.4     3.2      1.3     0.2     Iris-setosa       1
41       4.5     2.3      1.3     0.3     Iris-setosa       1
..       ...     ...      ...     ...             ...     ...
122      7.7     2.8      6.7     2.0  Iris-virginica       1
117      7.7     3.8      6.7     2.2  Iris-virginica       1
118      7.7     2.6      6.9     2.3  Iris-virginica       1
135      7.7     3.0      6.1     2.3  Iris-virginica       1
131      7.9     3.8      6.4     2.0  Iris-virginica       1

[150 rows x 6 columns]

In [96]:
# list the file in your current directory with the linux command ls
%ls -l

 Datenträger in Laufwerk C: ist Windows-SSD
 Volumeseriennummer: 2AD3-65C0

 Verzeichnis von C:\Users\tim94\OneDrive\Dokumente\Universität Bern\Data Acquisition and Management

Datei nicht gefunden

Here is a cheat sheet for common linux commands: https://files.fosswire.com/2007/08/fwunixref.pdf

### 5. Filtering on a DataFrame
...

In [ ]:
# Create a dataframe with a one column telling if slength is larger than 5.0
# Returns a vector with booleans

In [ ]:
# We can apply the filtering result to a new dataframe

In [ ]:
# And print it

### 6. Missing or bad data

Datasets, before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, …])	Remove missing values.
- DataFrame.fillna([value, method, axis, …])	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, …])	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, …])	Interpolate values according to different methods.

Retrieving and cleaning data is often the most time consuming part in a data science project.

### 7. Exporting dataframes (I/O)

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's write our file to a text file in a csv format.

In [97]:
url = 'C:/Users/tim94/OneDrive/Dokumente/Universität Bern/Data Acquisition and Management/Iris_clean.csv'
df.to_csv(url)

In [101]:
%ls

 Datenträger in Laufwerk C: ist Windows-SSD
 Volumeseriennummer: 2AD3-65C0

 Verzeichnis von C:\Users\tim94\OneDrive\Dokumente\Universität Bern\Data Acquisition and Management

23.08.2023  12:14    <DIR>          .
23.08.2023  12:14    <DIR>          ..
23.08.2023  09:36    <DIR>          .ipynb_checkpoints
23.08.2023  09:41         4'912'703 CAS-ADS-M1-D1-2021.pptx
23.08.2023  09:40           480'074 CAS-ADS-M1-D1-2022-Intro.pptx
23.08.2023  11:16         4'666'503 COVID19Death_geoRegion.csv
23.08.2023  12:12             5'539 Iris_clean.csv
23.08.2023  12:14            64'162 M1_D1_DM.ipynb
23.08.2023  09:03           236'403 M1-D1-DM-Sol.ipynb
               6 Datei(en),     10'365'384 Bytes
               3 Verzeichnis(se), 111'127'126'016 Bytes frei

What happens with our files when we close our colab session?

### 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc.
Metadata is normally not part of the statistical data analysis, however, needed for understanding and reproducibilty.

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

In [111]:
df.metadata = """The Iris dataset was used in R.A. Fisher's classic 1936 paper, The Use of Multiple Measurements in Taxonomic Problems, and can also be found on the UCI Machine Learning Repository. It includes three iris species with 50 samples each as well as some properties about each flower. One flower species is linearly separable from the other two, but the other two are not linearly separable from each other. The columns in this dataset are:
Id
SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species"""

df.metadata

"The Iris dataset was used in R.A. Fisher's classic 1936 paper, The Use of Multiple Measurements in Taxonomic Problems, and can also be found on the UCI Machine Learning Repository. It includes three iris species with 50 samples each as well as some properties about each flower. One flower species is linearly separable from the other two, but the other two are not linearly separable from each other. The columns in this dataset are:\nId\nSepalLengthCm\nSepalWidthCm\nPetalLengthCm\nPetalWidthCm\nSpecies"

Data repositories often use so-called Data Cards for metadata. See for example: https://www.kaggle.com/datasets/uciml/iris

### 9. Working on the filesystem with the os module

When managing large datasets, one often has to organise files in the file system. This includes finding them, moving and copying them, creating new folders/directories, renaming them etc. This can easily be done from Python with the os (operating system) module.

Try to understand the following code and alter it to do something else.

In [ ]:
import os

new_dir = os.getcwd() +'/newnbdir' # Get the current directory into a string, add /newnbdir to the string
os.makedirs(new_dir) # Create the folder
files = os.listdir() # List the files in the current folder
nb_files = [] # Create an empty list
for file in files:
    if 'ipynb' in file and file[0]!='.':
        nb_files.append(file)
for file in nb_files:
    os.system('cp '+file+' '+new_dir+'/')

In [ ]:
!ls -l newnbdir

### Exercise 3 (this we may skip if not enough time)

Read in the iris dataset from iris.csv into a dataframe. Set the values in column 1 in row 39, 49 and 100 to NaN (use the nan method from the numpy package). Then replacethe NaN values to the average value of the respective column. Depending on how you do it, this may be about 10 lines of Python code.

In [217]:
# Solve your exercise here
import numpy as np
import pandas as pd

# url = 'https://raw.githubusercontent.com/sigvehaug/CAS-Applied-Data-Science/master/Module-1/iris.csv'
#df_iris = np.loadtxt(url, skiprows=1, delimiter=',')
# df_iris = pd.read_csv(url, names=['slength','swidth','plength','pwidth','species'])
df_iris

rows_to_set_nan = [39, 49, 100]
column_to_set_nan = 1
df_iris.iloc[rows_to_set_nan, column_to_set_nan] = np.nan
df_iris.iloc[100,1]

print('row 39:', df_iris.iloc[39,1])
print('row 49:', df_iris.iloc[49,1])
print('row 100:', df_iris.iloc[100,1])

print('mean of slength:', df_iris['slength'].mean())

average_values = df_iris['slength'].mean()
df_iris = df_iris.fillna(average_values)

print('row 39:', df_iris.iloc[39,1])
print('row 49:', df_iris.iloc[49,1])
print('row 100:', df_iris.iloc[100,1])

# DataFrame.dropna([axis, how, thresh, …]) Remove missing values.
# DataFrame.fillna([value, method, axis, …]) Fill NA/NaN values using the specified method
# DataFrame.replace([to_replace, value, …]) Replace values given in to_replace with value.
# DataFrame.interpolate([method, axis, limit, …]) Interpolate values according to different methods.

row 39: nan
row 49: nan
row 100: nan
mean of slength: 5.843333333333334
row 39: 5.843333333333334
row 49: 5.843333333333334
row 100: 5.843333333333334

### Exercise 4

Print a sorted list of the weeks and the male deadths with COVID-19 in Switzerland. The weeks with the highest numbers should appear first. This should be doable with about 10 lines of Python. You may need 30 minutes to solve this one.

In [258]:
import pandas as pd
# url = 'https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv'
# df_covid = pd.read_csv(url)
df_covid_male = df_covid[df_covid['sex']=='male']
df_covid_male_sorted = df_covid_male.sort_values(by=['entries'], ascending=False)
print(df_covid_male_sorted[['datum','sex','entries']].head(20))

      datum   sex  entries
561  202047  male      346
564  202048  male      345
117  202048  male      344
114  202047  male      343
108  202045  male      319
555  202045  male      319
573  202051  male      318
111  202046  male      317
558  202046  male      317
570  202050  male      316
123  202050  male      314
126  202051  male      312
567  202049  male      311
120  202049  male      310
576  202052  male      306
129  202052  male      301
579  202053  male      284
132  202053  male      282
582  202101  male      242
135  202101  male      239

# End of today - please fill this form

https://forms.gle/bzDpGLUieVnheZUi6.
Have a nice evening and see you tomorrow.